.container {
    height: 200px;
    width: 200px;
    display: grid;
    grid-template-columns:  repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.container > div {
    border: 5px solid black;
    border-radius: 15%;
}

.box{
    display: flex;
}   